@import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC:900italic,400);

body {
  padding-top: 20px;
  padding-bottom: 40px;
  background: url(../images/bg.jpg) repeat-y center top black;
  font-family: 'Playfair Display SC', serif;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
  background: white;
  padding: 20px;
}
.container-narrow > hr {
  margin: 30px 0;
}

.nav {
  margin-top: 35px;
}

#myCarousel {
  margin-top: 35px;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.carousel-control {
  font-size: 40px;
}


